{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src={{ teacher.picture }} class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher.name }}</h1>
              <p>
                  {% for goal in teacher.goals %}
                    <span class="badge badge-secondary mr-2">{{ goals[goal] }} </span>
                  {% endfor %}
                  Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час
              </p>
              <p>{{ teacher.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              {% for day, times in teacher.free.items() %}
                <h6 class="mt-4">{{ days[day] }}</h6>
                {% set status = namespace(flag=true) %}
                {% for time, free in times.items() %}
                    {% if free %}
                        {% set status.flag = false %}
                        <a href="/booking/{{ teacher.id }}/{{ day }}/{{ time[:2] }}" class="btn btn-outline-success mr-2">{{ time }} свободно</a>
                    {% endif %}
                {% endfor %}
                {% if status.flag %}
                    <p>Нет свободных уроков</p>
                {% endif %}
              {% endfor %}

            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}